.Rproj.user
.pdf
.Rhistory
.RData
.Ruserdata
.*csv
.xlsx
plots/*
analysis/biting_LLINS/*
data/*
# Ignore everything
*
# Allow these directories (so Git can descend into them)
!inst
!analysis/
!analysis/IVER_ONE/
!analysis/IVER_ONE/**
!analysis/exploring_interactions/
!analysis/exploring_interactions/MIM_poster/
# Allow all files inside MIM_poster
!analysis/exploring_interactions/MIM_poster/**
# But still ignore .rds files there
# But ignore all .rds files anywhere inside MIM_poster
analysis/exploring_interactions/MIM_poster/**/*.rds
#ignore the pdfs
analysis/exploring_interactions/MIM_poster/**/*.pdf
